.timer {
    width: 20%; 
    max-width: 600px; 
    margin: 20px auto;
    padding: 15px 15px 0 15px;
    border-radius: 10px;
    background-color: #4943C6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.timer h3 {
    font-size:x-large;
    color: white;
    text-align: center ;
    white-space: nowrap;
}

.timer p {
    font-size: x-large;
    color: white;
    line-height: 1.6;
}

@media (max-width: 550px) {
    .timer {
        width: 50%;
        margin: 20px auto;
        padding: 15px 15px 5px 15px;
        font-size: 1rem;
    }
    .timer h3{
        font-size: 1rem;
    }
    .timer p{
        font-size: 1.2rem;
    }

}