.game{
}
.game-up{
    display: flex;
    height:25%;
    flex-direction: column;
}
 .game-container{
     width: 100vw;
    height: 100vh;
 }
 .game-down{
    width:100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .game-down-solo{
     width:100%;
     height: 75%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
 }

.logo-solo{
    position: absolute;
    top:2%;
    left: 0;
    width: 14%;
    height: 14%;
}
.logo-solo svg{
    width: 50%;
    height: 100%;
}

/* -------------------GameUp ------------------- */
.article-list{
    width: fit-content;
    margin: 0 auto ;
    padding: 15px;
    border-radius: 10px;
    background-color: #4C489E;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:900px;
}
.article-list ul {
    list-style: none; 
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow-x: scroll;

}

.article-list li {
    margin: 0 10px; 
    white-space: nowrap; 
    color: white;

}

.article-list li:last-child {
    margin-right: 0; 
}
.article-name{
    font-size: large;
    color: white;
}


@media (max-width: 480px) {
    .article-list {
        width: 95%; 
        margin: 20px auto;
        padding: 15px;
    }
}

/* -------------------GameUp ------------------- */

/* -------------------GameDown ------------------- */

.game-down .article-container{
    width: 70% ;
    height:80%;
    margin: 0 5% 0;
    padding: 15px;
    padding-top: 2%;
    border-radius: 10px;
    background-color: #4943C6;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    gap: 20px;
    font-family: 'Manjari', sans-serif;
}
.game-down-solo .article-container{
    width:75%;
    height: 65%;
    padding: 15px;
    padding-top: 2%;
    border-radius: 10px;
    margin:0;
    background-color: #4943C6;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    gap: 20px;
    font-family: 'Manjari', sans-serif;

}
.article-container::-webkit-scrollbar,.article-list::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.article-container::-webkit-scrollbar-track ,.article-list::-webkit-scrollbar-track{
    background-color: transparent;
}
.article-list::-webkit-scrollbar-thumb,.article-container::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
    opacity:0;
}
.article-list:hover::-webkit-scrollbar-thumb,.article-container:hover::-webkit-scrollbar-thumb{
    background-color:  #22D231;
    border-radius: 10px;
}
.article-container,.article-list {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition:0.2s ease-out;
}
.article-container,.article-list:hover {
    scrollbar-width: thin;
    scrollbar-color: #FFD230 transparent;
}
.article-content h2,.article-content h3, .article-content h4{
    margin: 2% 0;
    color:#FFD230;
}

.article_title{
    font-size: 32px;
    font-weight: bold;
    color:#FFD230;
    text-decoration: none;
}

.article-content{
    width: 95%;
    font-size: 16px;
}

.article-content a {
    color:#ffe792 ;
    cursor: pointer;
}

.article-content a:hover {
    color:#ffc42e;
}

.bandeau-container{
    display: none;
}

sup{
    display: none;
}

/* #mwO7Y{
    display: none;
}

#mwIP4{
    display: none;
} */


.game-down .game-info{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game-down-solo .game-info{
        width:50%;

}

.player-info{
    height: 50%;
    width: 100%; 
    padding: 15px;
    border-radius: 10px;
    background-color: #4943C6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.player-info h2{
    color:#fff;
    text-align: center;
    margin: 7% 0;
    font-size: 30px;
}



.player-info ul li{
    display: flex;
    margin: 7%;
}
.player-info ul li p{
    color: #FFD230;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.27);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    overflow-x:clip;
    word-break: keep-all;
}
.player-score::before{
    content: '  : ';
}
.inventory{
    height: fit-content;
    width: 100%; 
    padding: 15px;
    border-radius: 10px;
    background-color: #4943C6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.inventory h2{
    color:#fff;
    text-align: center;
    font-size: 30px;
}
