@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Manjari:wght@100;400;700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {

  color: rgba(255, 255, 255, 0.87);
 


}



body {
  margin: 0;
  place-items: center;
}



.page ,.page2{
  height: 100vh;
}

.page2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
@font-face {
  font-family: 'Manjari Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Manjari Bold'), url('Manjari-Bold.woff') format('woff');
  }




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manjari', sans-serif;
}



.big{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-width: 320px;
 
 
}



.container {
 background-color:#4943c6e9  ;
 width: 60vw ;
 border-radius: 10px;
 display: flex;
 justify-content: center;
align-items : stretch;
 gap: 2%;
 padding: 3%;
 height: auto;
 position: relative;
 
 
}

.container .left{
  padding: 3%;
  position: relative;
  flex: 65%;
  border: 2px solid rgba(255, 255, 255, 0.276);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.solo{
  width: 40vw !important;
}

.container .right{
  flex: 35%;
  border: 2px solid rgba(255, 255, 255, 0.276);
  border-radius: 15px;
  
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding: 3%;
}


.container .left,
.container .right {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.container_button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
 

}

.button{
  width: 15vw;
  height: 4vw;
  border-radius: 10px;
  background-color: #4943C6 ;
  border: none;
  color: white;
  font-size: 1.3vw;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.container .title{
  margin-top: 0;
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: 6%;
  color: white;
  text-transform: none;
  text-shadow: none;
  padding-top: 0;
 
}
.container .opt{
  text-align: left;
  font-size: 1.1vw;
}


.container_ul{
 
  border-spacing: 4vw 1vw;
  gap: 4vw;
  
}





.container_ul ul{
  gap: 20px;
  list-style: none;
}

.container_ul ul:first-of-type li{
  padding: 0.95vw;
  font-size: 1.2vw;
}

.container_ul ul:last-of-type li{
padding: 0.6vw;
font-size: 1.2vw;
gap: 1vw;
display: flex;

}

.container_ul input[type='radio']{
  display: none;}
.container_ul label{
  border: 1px solid white;
  border-radius: 0.7vw;
  background-color: rgba(120, 120, 120, 1);
  width: 100%;
  height: 2.2vw;
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}



.words{
  border: 1px solid white;
  background-color:rgba(74, 50, 50, 0.34);
  width: 100%;
  height: 2.2vw;
  color: white;
  font-size: 1.2vw;
  border-radius:0.7vw;
  padding-left: 10px;
  max-width: 10.4vw;
  transition: 0.3s;
  
}

.container_ul select{
  border: 1px solid white;
  background-color: rgba(74, 50, 50, 0.34);
  width: 100%;
  height: 2.2vw;
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
  transition: 0.3s;
 border-radius: 0.7vw;
 padding-left: 5px;
}

.container_ul button:hover{
  background-color: #535bf2;
}
.container_ul ul:first-of-type{
  text-align: start;
  list-style: none;
}

.right .title{
  font-size: 2vw;
  font-weight: 500;
  text-transform: none;
 color: white;
  margin-bottom: 6%;
  text-shadow: none;
}



.big form{
  gap: 1vw;
  display: flex;
  flex-direction: column;
 

}

.left input[type="submit"]{
display: none;
}



.morewords ul{
  display: flex;
  align-items: center;
  gap: 0.7vw;
  list-style: none;
  justify-content: center;
  width: 25vw;

}
.morewords ul li{
  font-size: 1vw;
  padding: 0.2vw 0.5vw;
  border: 1px solid white;
  border-radius: 0.5vw;
  background-color: #ff0101;
  color: white;
  cursor: pointer;
  transition: 0.3s;

}

.span-radio{
 display: inline-block;
 width: 5vw;

}
.input-radio:checked + #oui {
  background: rgb(18, 208, 18);
  color: white;
}

.input-radio:checked + #non{
  background: rgb(239, 16, 16);
  color: white;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa{
  color: red;
}


.mleft:hover{
transform: translateX(-130px);
}

.mleft , .mright ,.mleft-rotate{
  transition: 1s;
}
.mright:hover{
transform: translateX(130px);
}

.mleft-rotate:hover{
  transform: translateY(150px);
 
}

.button:hover{
  background-color: #535bf2;
  transform: translateY(-5px);
  cursor : pointer;
}

.input-label:hover{
  
  transform: scaleX(1.02);

}
  
.delete-player:hover{
  color: #ff0101;
  cursor: pointer;
  scale: 1.1;
}




@media screen and (max-width: 550px){
  .words{
   max-width: none;
  }

.container .title{
  font-size: 2rem;
}

  .span-radio{
    width: 47%;
    height: 5vh;
   label{
      height: 100%;
      font-size: 1rem;
      margin: auto;
    }
  }
  .container_ul select,  .words{
    height: 4vh;
    font-size: 0.9rem;
  }

  .morewords ul li{
    font-size: 0.8rem;
    padding: 0.2vw 0.5vw;
  }

  .button{
    width: 40vw;
    height: 6vh;
    font-size: 1.3rem;
  }
  .container_ul ul:last-of-type li{
    padding: 2vw;
    font-size: 1.5rem;
    gap: 3vh;
    display: flex;
  }


  .page .right{
    display: none;
  }
  .container-phone{
    width: 80vw;
    height: 60vh;
  }
  
  
  .left-phone{
    width: 100%;
    height: 100%;
  
    padding: 2%;
  }
  
  .span-phone{
   font-size: 1rem !important;
  
  }
  
  .input-phone{
    width: 100%;
    
    border: 1px solid white;
    background-color: rgba(74, 50, 50, 0.34);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
   border-radius: 0.7vw;
   padding-left: 5px;

  }
  .page2{
    display: flex !important;
  }
  .solo{
    width: 80vw !important;
  }
}


.page2{
  display: none;
}

g{

  opacity: 0.2;
}


.main-page, .page ,body{
  background: linear-gradient(to bottom, #6b11cb66, #2574fcab, #153082);
  width: 100vw;
}
.second-part, .phone-second{
  background-color : #153082;
  
  width: 100vw;}


#svg-chat{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7vw;
  height: auto;
  transition: 0.3s;

}

#svg-chat:hover{
  
}