.timer {
    width: 20%; 
    max-width: 600px; 
    margin: 50px auto 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #4C489E;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.timer h3 {
    font-size:x-large;
    color: white;
}

.timer p {
    font-size: x-large;
    color: white;
    line-height: 1.6;
}

@media (max-width: 480px) {
    .timer {
        width: 85%; 
        margin: 20px auto;
        padding: 15px;
    }
}