

/* -------------------------- LOGO - TITLE -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Manjari:wght@100;400;700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  scroll-behavior: smooth;
  
}

.logo{
  margin:20px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30vh;
}
.logo img{
  height:100%;
  width: auto;
  object-fit: cover;

}
@media screen and (max-width: 500px) {
  .logo{
    height:auto;
    width:50vw;
  }
  .logo img{
    width:100%;
    height:auto;
  }
}

.background{
  width: fit-content;
  height: fit-content;
}

.background img {
  z-index: -1;
  position: absolute;
  left: 47.5%;
  transform: translateX(-50%);
  width: 140%;
  height: auto;
  object-fit: cover;
  bottom: 0;
}

/* @media screen and (max-width: 1600px) {
  .background {
    transform: translateX(-50%) translateY(0) !important;
  }

}
@media screen and (max-width: 1350px) and (min-height: 1100px) {
  .background {
    transform: translateX(-50%) translateY(-10%) !important;
  }

}
@media screen and (max-height: 900px) {
  .background {
    transform: translateX(-50%) translateY(10%) !important;
  }

}
@media screen and (max-height: 800px) {
  .background {
    transform: translateX(-50%) translateY(20%) !important;
  }

}
 */

.main-page{
  height: 100vh;
  position: relative;
  top:0;
}
/* -------------------------- LOGO - TITLE -------------------------- */


/* -------------------------- CREDITS -------------------------- */

  @font-face {
  font-family: 'Manjari Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Manjari Bold'), url('Manjari-Bold.woff') format('woff');
  }

.credit-button{
  font-family: 'Manjari Bold', sans-serif;

  background-color: #4943C6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  padding: 12px 22px;
  border-radius: 12px;
  font-size: 1rem;
  position: absolute;
  top: 30px;
  right:40px
}
@media screen and (max-width: 500px) {
  .credit-button{
    display: none;
  }
}
.manjari{
  font-family: 'Manjari', sans-serif;
  transform:translateY(5px);
}
.manjariB{
  font-family: 'Manjari Bold', sans-serif;
  transform:translateY(5px);
}
/* -------------------------- CREDITS -------------------------- */




.monsters{
  position: absolute;
}

.monsters{
  position: absolute;
  }
  
  @keyframes slideInOut {
    0% {
      left: -30vw; 
    }
    20% {
      left: 19vw;
    }
    80% {
      left: 19vw; 
    }
    100% {
      left: -30vw;
    }
  }
  
  
  #monster_1 {
   position: absolute;
   top: 0vh;
   left: -30vw; 
   transform: rotate(90deg);
   z-index: 1;
   animation: slideInOut 7s ease-in-out infinite;
  }
  
  #m1 {
   width: 20vw;
   height: auto;
  }
  
  #monster_2{
   position: absolute;
   top: 16vh;
   right: 13.4vw;
  }
  
  #m2{
   width: 17vw;
   height: auto;
  }
  
  #monster_3{
   position: absolute;
   bottom: 14vh;
   right: 13vw;
  }
  
  #m3{
   width: 14vw;
   height: auto;
  }
  
  #monster_4{
   position: absolute;
   bottom: -12.5vh;
   left: 0vw;
   z-index: 1;
  }
  
  #m4{
   width: 16vw;
   height: auto;
  }
  
  #monster_5{
   position: absolute;
   bottom: 1.3vh;
   left: 48.6vw;
  }
  
  #m5{
   width: 6vw;
   height: auto;
   transform: rotate(8deg);
  }
  
  #monster_6{
   position: absolute;
   bottom: 0vh;
   right: 12vw;
  }
  
  #m6{
   width: auto;
   height: 15vh;
   transform: rotate(90deg);
  }
  
  #monster_7{
   position: absolute;
   top: 0vh;
   left: 0vw;
  }
  
  #m7{
   width: 13vw;
   height: auto;
   transform: rotate(90deg);
   position: absolute;
  }
  
  #monster_8{
   position: absolute;
   right: 0vw;
   top: 0vh;
  }
  
  #m8{
   width: 7vw;
   height: auto;
   transform: scaleX(-1);
  }
  
  #monster_10{
   position: absolute;
   top: 25vh;
   right: 0vw;
   transform: scaleX(-1);
  }
  
  #m10{
   width: 20vw;
   height: auto;
  }
  
  #monster_11{
   position: absolute;
   top: 29vh;
   left: -7vw;
  }
  
  #m11{
   width: 7vw;
   height: auto;
  }
  
  #monster_12{
   position: absolute;
   top: 85vh;
   left: 19vw;
   transform: scaleX(-1);
  }
  
  #m12{
   width: 20vw;
   height: auto;
  }
  
  #monster_13{
    position: absolute;
    top: 65vh;
    left: 16.5vw;
    transform: scaleX(-1);
   }

   #m13{
    width: 17vw;
    height: auto;
   }

   #monster_14{
    position: absolute;
    top: 35vh;
    right: 20vw;
   }

   #m14{
    width: 20vw;
    height: auto;
   }

   #monster_15{
    position: absolute;
    left: 13vw;
   }

   #m15{
    width: 17vw;
    height: auto;
   }

   #monster_16{
    position: absolute;
    left: 6.1vw;
    top: 40vh;
   }

   #m16{
    width: 14vw;
    height: auto;
    transform: scaleX(-1);
   }

   #monster_17{
    position: absolute;
    right: 20vw;
    top: 40vh;
   }

   #m17{
    width: 17vw;
    height: auto;
   }

   #monster_18{
    position: absolute;
    top: -16vh;
    left: 2vw;
   }

   #m18{
    width: 8vw;
    height: auto;
   }

/* -------------------------- SELECT MODE -------------------------- */

.select-mode{
  background-color: #4943c6c8;
  width: 17vw;
  height: 22vw;
  border-radius: 5%;
  display: flex;
  justify-content: end;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: 0.4s;
  backdrop-filter: blur(15px);
}

.select-mode:hover{
  transform: scale(1.1) rotate(4deg);
  cursor: pointer;

}

.select-mode:last-child:hover {
  transform: scale(1.1) rotate(-4deg);
}

.select-mode .mode{
  padding: 10% 10% 0;
  font-size: 1.2rem;
}

.select-img{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mode .manjari{
  color:#fff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.92);
}
.rule-list{
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 20px;
}
.rule-bloc{
  background-color: #4943c6c8;
  width: 17vw;
  padding: 4% 2%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.rules{
  font-family: 'Manjari', sans-serif;
  font-size: 16px;
  color: white;
  text-justify: auto;
  width: 90%;
}

.PlayButton{
  color : white;
  font-size: 16px;
  font-family: 'Manjari', sans-serif;
  background-color : #FFB700;
  border-radius: 25px;
  margin: 15%;
  border: none;
  width: 10%;
  padding: 10px 5px;
  cursor: pointer;
}

.PlayButton:active{
  background-color : #dc9e00;

}

.title{
  margin-top: 15%;
  color: #FFB700;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Manjari', sans-serif;
  text-align: center;
}

/* --------------------------SET PROFILE-------------------------- */
.selection-container{
  width: 100%;
  display: flex;
  justify-content: center;
}


.selection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:80%

}
.setProfile{
  width: 20vw;
  height: 20vw;
  backdrop-filter: blur(15px);
  background-color: #4943c6c8;
  padding:30px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  gap:20px;
    input[type="text"]{
      outline:none;
      font-size:16px;
      background:#4C489E;
      border:3px solid black;
      border-radius: 10px;
      padding:10px;
      display: flex;
      align-items: center;
      flex-direction: row;
      color:white;
      height: 3vw;
      width: 14vw;
    }
}
.profilePicture {
  width: 10vw ;
  height: 10vw;
  border-radius: 50%; /* Rend le conteneur parfaitement rond */
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  background-color: #60E513; /* Ajoute un fond en cas d'image transparente */
}

/* Assure que l'image s'adapte bien */
.profilePicture img {
  width: 25vh;
  height: 25vh;
  transform: translateY(20%);
}

@media (max-width: 1400px) {

}



/* -------------------------- SELECT MODE -------------------------- */


/* -------------------------- Artifact -------------------------- */


.artifact-border{
  border: 8px solid #D9D9D9;
  background-color: #FFB700;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
}

.artifacts-list{
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 20px;
}


/* -------------------------- Game -------------------------- */

.CreateGame{
  background-color: #4943c6c8;
  width: 22vw;
  min-width: 350px;
  min-height: 90px;
  padding: 2.5%;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

.CreateGame:active{
  background-color: #413bbbc8;
}

.CreateGame:hover {
  animation: pulse 0.6s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes pulse {
  100% {
    transform: scale(1.02);
  }
}

.JoinGame{
  background-color: #4943c6c8;
  width: 22vw;
  min-width: 350px;
  min-height: 145px;
  padding: 2.5%;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CreateGame p, .JoinGame p{
  color: white;
  font-family: 'Manjari', sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.JoinGame input{
  background-color: #4943c600;
  width: 15vw;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  color: white;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
  margin-top: 5%;
  min-width: 200px;
}

.JoinGame input::placeholder{
  font-family: 'Manjari', sans-serif;
  color: #939393;
  display: flex;
  text-align: center;
}

input:focus {
  border-color: #b1acf0;
}


.MultiCreation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  top: 60px;
}



/* -------------------------- Footer -------------------------- */

.footer{
 display: flex;
 flex-direction: row;
 gap: 30px;
 justify-content: center;
 margin-bottom: 1%;
}

.footer p{
  color: white;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'Manjari', sans-serif;
}
/* -------------------------- Component BottomRedirection -------------------------- */

.bottomredirection{
  color:white;
  text-decoration:none;
  font-size:20px;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.bottomredirection svg{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* -------------------------- ENDGAME -------------------------- */
.podium{
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  width:35vw;
  min-width:450px;
  li{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    .avatar{
      display: flex;
      flex-direction: column;
      width:100%;
      align-items: center;
      img:last-child{
        width: 80%;
      }
      img{
        width:40%;
      }
    }
    .block{
      padding-top:10%;
      width: 100%;
      overflow-wrap: break-word;
      word-break: break-word;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #4943C6;
      text-align: center;
    }
  }
  .first{
    .block{

      padding-bottom: 50%;
      border-radius: 15px 15px 0 0;

    }
  }
  .second{
    .block{
      padding-bottom: 30%;
      border-radius: 15px 0 0 15px;
    }
  }
  .third{
    .block{
      padding-bottom: 10%;
      border-radius: 0 15px 15px 0;
    }
  }
}
@media screen and (max-width: 500px) {
  .podium{
    width:90vw;
    min-width:0;
  }
}
.ranking{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 40px;
  width:20vw;
  min-width:450px;
  .playerRank{
    background: #4943C6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    border-radius: 10px;
    font-size:20px;
    img{
      width:20%;
      height:auto;
    }

    p{
      overflow-wrap: break-word;
      word-break: break-word;
      text-align: center;
    }
  }
  .playerRank p:nth-child(1){
    width:6%;
  }
  .playerRank p:nth-child(3){
    width:25%;
  }
  .playerRank p:nth-child(4){
    width:20%;
  }
  .playerRank p:nth-child(5){
    width:20%;
  }
}
@media screen and (max-width: 500px) {
  .ranking{
    width:90vw;
    min-width:0;
  }
}
.hero{
  height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap:0;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100vw;

}
.chatBox{
  display: flex;
  position:fixed;
  bottom:5%;
  left:5%;
  z-index:1000;
  background: rgba(73, 67, 198, 0.90);
  flex-direction:column;
  justify-content: space-between;
  padding:20px;
  width:450px;
  height:500px;
  max-height:90vh;
  backdrop-filter: blur(10px);
  align-items: center;
  border-radius:10px;
  h1{
    color:white;
    text-decoration:none;
    border:none;
  }
  input[type="text"]{
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid #000;
    font-size:16px;
    color:white;
    outline:none;
    border-radius: 20px;
    width:90%;
    padding:5px 10px;

  }
  input[type="text"]::placeholder{
    color: #A0A0A0;

  }
}
.messageArea{
  align-items: center;
  display: flex;
  flex-direction: column;
  width:100%;
  gap:10px;
  height:70%;
  overflow-y:scroll;
}
.closebutton{
  position: absolute;
  top:3%;
  right:5%;
  background:none;
  border:none;
  outline:none;
  color:white;
  font-size:20px;
}
@media screen and (max-width: 500px) {
  .chatBox{
    width:90%;
  }
}
.message{
  display: flex;
  width:90%;
  align-items: center;
  justify-content: flex-start;
  .messagebox_chat{
    display: flex;
    flex-direction: row;
  }
}
.sendMessage{
  display: flex;
  width:90%;
  align-items: center;
  justify-content: flex-end;

  .messagebox_chat{
    display: flex;
    flex-direction: row-reverse;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: end;
  }

}
.messagebox_chat{
  background: #FFB700;
  width: fit-content;
  max-width: 100%;
  display: flex;
  align-items: center;
  border-radius:10px;
  padding:10px;
  .avatar{
    display: flex;
    height:auto;
    width:20%;
    align-items: center;
    img{
      width:100%;
      height:auto;
    }
  }
  .name{
    color:white;
    font-size:10px;
  }
  .text{
    font-size:14px;
    color:black;
    width:fit-content;
  }
}
.chatbutton{
  position: fixed;
  bottom:5%;
  left:5%;
  height:50px;
  width:50px;
  border-radius: 100px;
  outline:none;
  border:none;
  background: rgba(255, 255, 255, 0.44);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition:0.5s;
  display:flex;
  align-items: center;
  justify-content: center;
}
.chatbutton:hover{
  transform: scale(1.1);
}

.SoloRanking{
  background-color: #4943C6;
  border-radius: 15px;
  width: 32vw;
  min-width: 530px;
  min-height: 330px;
  height: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SoloRanking p{
  font-family: 'Manjari Bold';
  padding: 2%;
}

.rank_title{
  font-size: 24px;
}

.rank_avatar{
  width: 15%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .SoloRanking{
    min-width: 75vw;
    min-height: auto;
  }
}

.container_button{
  margin-top: 3%;
}